div  {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 50px;
text-align: center;

}

h3{
    text-align: center;
    color: yellow;
    font-family: cursive;
    font-size: 50px;

}
